:root{
    --magassag: 200px;
    --szelesseg: 23%;
    --margo: 10px;
    --lila: purple;
    --kek: rgb(169, 215, 252);
    --vkek: rgb(0, 238, 255);
    --brit: rgb(0, 88, 69);
    --rozsa: rgb(253, 98, 183);
    --bor: rgb(255, 175, 182);
    --srozsa: rgb(255, 0, 221);
    --barna: rgb(187, 79, 79);
    --hatterszin: white;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.egy, .ketto, .harom, .negy, .ot, .hat, .het, .nyolc {
    height: var(--magassag);
    width: var(--szelesseg);
    margin: var(--margo);
}

.egy { background-color: var(--lila); }
.ketto { background-color: var(--kek); }
.harom { background-color: var(--vkek); }
.negy { background-color: var(--brit); }
.ot { background-color: var(--rozsa); }
.hat { background-color: var(--bor); }
.het { background-color: var(--srozsa); }
.nyolc { background-color: var(--barna); }

body {
    background-color: var(--hatterszin);
}
